<button type="button" (click)="setEnable()" class="btn-primary my-3">{{ enable==true? 'Ocultar':'Mostrar'}}</button>
<div class="card">
  <div class="card-header">
    Listado de Cursos
  </div>
  <ul class="list-group" *ngIf="enable">
    <li class="list-group-item" *ngFor="let curse of curseList">{{ curse }}</li>
  </ul>
</div>
