<div class="card bg-light mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de Clientes</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']">Crear Cliente</button>
        </div>
        
        <div *ngIf="clients?.length == 0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>

        <table class="table table-bordered table-striped" *ngIf="clients?.length > 0" > 
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha</th>
                    <th>Email</th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Elminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{client.id}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.lastName}}</td>
                    <td>{{client.createdAt}}</td>
                    <td>{{client.email}}</td>
                    <td>
                        <button type="button" name="edit" [routerLink]="['/clients/form', client.id]" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="delete" (click)='delete(client)' class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>