<div class="card bg-dark text-white">
    <div class="card-header">{{ title }}</div>
    <div class="card-body"></div>

    <form>
        <div class="form-group-row">
            <label for="name" class="col-form-label col-sm-2">Nombre</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="client.name" name="name">
            </div>
        </div>

        <div class="form-group-row">
            <label for="lastName" class="col-form-label col-sm-2">Apellido</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="client.lastName" name="lastName">
            </div>
        </div>

        <div class="form-group-row">
            <div class="col-sm-6">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <input type="text" class="form-control " [(ngModel)]="client.email" name="email">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!client.id else elseBlock ">Crear</button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                </ng-template>
            </div>
        </div>
    </form>
</div>